# Used by actions/download-tdg.js
TDG_USER=foo
TDG_PASSWORD=bar
TDG_HEADLESS=false
TDG_TEST=true

# Used by actions/remind-me.js
GOOGLE_AI_API_KEY=ai-proj
DEBUG_REMIND_ME=false

# Used by any action that sends a message to a Telegram chat
TELEGRAM_BOT_TOKEN=token
TELEGRAM_CHAT_ID=123

# Used by the Lambda function garcon-bot-app/garcon-telegram/app.mjs
GH_TOKEN=github_pat
GH_WORKFLOW_URL=https://api.github.com/repos/Eomm/eomm/actions/workflows/run-action.yml/dispatches

# Used by actions/inspect-cardtrader.js
CARDTRADER_API_KEY=api-key
CARDTRADER_WISHLIST_ID=wishlist-id